
@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Inclusive+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --background-color: wheat;
    --font-color: #5b3d1e;
    --font-color2: #301c08;
    --primary-color: #1ba595;
    --secondardy-color: #d18037;
    --accent-color: #ffe263;
}

/* -----BODY CSS----- */
body {
    background-color: wheat;
    font-family: "Inclusive Sans", "Trebuchet MS", sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2 {
    font-family: "Boogaloo", Arial, Verdana, sans-serif;
    letter-spacing: .1em;
}
h2 {
    margin: 0;
}

/* -----HEADER CSS----- */
header {
    background-color: var(--primary-color);
}
#logo_link {
    padding-top: 5px;
}
.logo {
    width: 80px;
}
nav a {
    text-decoration: none;
    text-align: center;
    color: white;
    padding: 35px;
}
nav a:hover {
    background-color: white;
    color: var(--primary-color);
}
#hero-img {
    width: 100%;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.home-title {
    color: var(--font-color);
    font-size: 2em;
    margin-top: 10px;
}
h4 {
    color: var(--secondardy-color);
}
.button-box {
    text-align: center;
}

/* -----MAIN CSS----- */
.book, .join {
    background-color: var(--primary-color);
    color: var(--accent-color);
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
/* Sections */
main section {
    text-align: center;
}
.card-img {
    border: 10px solid var(--font-color);
}
main section img {
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
/* After the sections */
#background {
    height: 725px;
    background-color: var(--secondardy-color);
}
.mountains {
    margin: 200px 0;
}
.msg {
    background-color: var(--secondardy-color);
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: var(--font-color2);
}
.msg p {
    color: var(--font-color2);
    font-size: .8em;
    padding-bottom: 15px;
}

/* -----FOOTER CSS----- */
footer {
    background-color: var(--primary-color);
    color: var(--font-color2);
    padding: 25px 50px;
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a {
    color: var(--accent-color);
    text-decoration: none;
}
footer a:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
footer .social img {
    padding-top: 15px;
}