body {
    text-align: center;
}

/* Navigation */
nav {
    background-color: steelblue;
    padding: 10px;
}
a { /* Text */
    color: white;
    margin: 40px;
}

/* Main Body */
h1 {
    color: steelblue;
}
img {
    width: 800px;
    border: 4px solid steelblue;
}
p {
    padding: 10px;
}
footer {
    background-color: steelblue;
    color: white;
}